.main {
  margin: 15px;
  font-family: "Open Sans", sans-serif;
  &_title {
    color: rgb(54, 54, 54);
  }
  &_text {
    font-weight: 400;
    font-size: 16px;
    border: 2px lightgray solid;
    padding: 5px;
    margin: 10px 0;
  }
}
.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  &_input {
    height: 35px;
    background-color: lightgray;
    border: none;
    margin: 15px 0;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
    &::placeholder {
      color: lightslategray;
    }
  }
  &_button {
    width: 100px;
    background-color: lightseagreen;
    height: 35px;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
  }
}
